# If running backend in Docker-------
# AWS Cognito Configuration
COGNITO_USER_POOL_ID=your-user-pool-id
COGNITO_CLIENT_ID=your-client-id
COGNITO_CLIENT_SECRET=your-client-secret

# AWS Credentials (needed for S3 and local env)
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=ap-northeast-1

# S3 Configuration
S3_BUCKET_NAME=your-s3-bucket-name
STORAGE_TYPE=local  # "local" or "s3"
#-----------
